html {
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
    font-weight: lighter;
    margin: 0;
    text-overflow: ellipsis;
    min-height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #262626;
}

.nom_site {
    padding: 10px;
    color: #499531;
    display: inline-block;
    width: 300px;
    margin: 20px 50px 20px 20px;
    border-right: solid;
}

.nav_barre{
    color: #499531;
    margin: 20px 20px 20px;
    font-size: 25px;
    
}

.nav_option {
    display: inline-block;
    margin: 10px;
}

a {
    color: #499531;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.main {
    display: flex;
    background-color: rgb(245, 245, 245);
    justify-content: space-evenly;
    flex-grow: 1;
}

.main_podcast {
    background-color: rgb(245, 245, 245);
    justify-content: space-evenly;
    flex-grow: 1;
}

h3 {
    color: #499531;
    font-size: 30px;
    margin: 40px;
}

.audio_podcast {
    margin: 0px 40px;
    align-items: center;
    width: 80%;
}

.posts_place {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
}

.post { 
    background-color: rgb(255, 255, 255);
    width: 39%;
    box-shadow: 0px 0px 3px 1px #686868;
    margin: 5%;
    height: fit-content;
}

.title_place {
    display: flex;
    background-color: #262626;
    min-height: 75px;
    width: 100%;
    padding: 0px;
}
.post_title{
    margin: 20px;
    width: 100%;
    color: #499531;
    overflow: hidden;
    text-overflow: clip;
}

.post_content {
    margin: 20px;
    color: #686868;
    line-height: 27px;
    font-size: large;
}

.footer {
    display: flex;
    background-color: #262626;
    width: 100%;
}

.redirect_arVuhez {
    margin: 20px;
}

.logo {
    border-radius: 50px;   
}

.imageArticle {
    max-width: 100%;
}

.post_footer {
    background-color: #686868;
}

.post_footer_content {
    margin: 0px;
    padding: 7px 20px;
    background-color: #262626;
    color: #499531;
    font-style: italic;
}

@media only screen and (max-width: 980px) {
    body {
      font-size: 20px;
    }

    .post {
        width: 80%;
    }
  }